.footer {
	padding-top: vw(50);
	padding-bottom: vw(60);

	@include mobile {
		padding-top: vmin(50);
		padding-bottom: vmin(60);
	}
	.container {
		justify-content: space-between;

		@include mobile {
			justify-content: center;
		}
	}

	.left {
		display: flex;
	}

	.lead-me {
		display: flex;
		align-items: center;
		color: $main-font-color;

		@include mobile {
			margin-top: vmin(20);
		}

		&__logo {
			margin-left: vw(20);

			@include mobile {
				margin-left: vmin(20);
			}
		}
	}
}