.footer {
	padding-top: vw(50);
	padding-bottom: vw(60);

	@include mobile {
		padding-top: vmin(50);
		padding-bottom: vmin(60);
	}
	.container {
		justify-content: space-between;

		@include mobile {
			justify-content: center;
		}
	}

	.left {
		display: flex;
		flex-wrap: wrap;

		@include mobile {
			justify-content: center;
		}
	}

	.logo {
		img {
			width: vw(187);
			height: vw(43);

			@include mobile {
				width: vmin(187);
				height: vmin(43);
			}
    }
    
    @include mobile {
      margin: 0 vmin(26) vmin(10);
    }
	}

	.button_taxi {
		@include mobile {
			margin-top: vmin(20);
			margin-left: 0;
		}
	}

	.lead-me {
		display: flex;
		align-items: center;
		color: $main-font-color;

		@include mobile {
			margin-top: vmin(20);
		}

		&__logo {
			margin-left: vw(20);

			@include mobile {
				margin-left: vmin(20);
			}
		}
	}
}