.main-section {
	padding-top: vw(60);
	padding-bottom: vw(50);
	box-shadow: 0 vw(50) vw(50) 0 rgba(0, 0, 0, 0.02);
	
	@include mobile {
		padding-top: vmin(10);
		padding-bottom: vmin(50);
	}

	.container {
    justify-content: space-between;
    
    @include mobile {
      justify-content: center;
      padding: 0 vmin(60);
    }
	}

	&_content {
    // padding-left: vw(100);
    
    @include mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

		h1 {
			margin-bottom: vw(10);
			font-family: $g-p-light;
			font-size: vw(38);
			line-height: 55px;
			letter-spacing: vw(1.5);
			text-transform: uppercase;
			color: $main-font-color;
			
			br {
				@include mobile {
					display: none;
				}
			}

			@include mobile {
				margin-bottom: vmin(40);
				font-size: vmin(29);
				line-height: vmin(42);
        letter-spacing: vmin(1.5);
        text-align: center;
			}

			span {
				font-family: $g-p-medium;
			}
		}

		.paragraph {
			position: relative;
			padding-bottom: vw(40);
			padding-left: vw(35);
			font-family: $g-p-light;
			font-size: vw(18);
			line-height: vw(30);
			color: $main-font-color;

			@include mobile {
				padding-bottom: vmin(40);
				padding-left: vmin(35);
				font-size: vmin(18);
        line-height: vmin(30);
        text-align: center;
        padding-left: vmin(30);
        padding-right: vmin(30);
			}

			span {
				font-family: $g-p-medium;
			}
		}

		.main-button {
			margin-bottom: vw(45);

			@include mobile {
				margin-bottom: vmin(45);
			}
		}

		.paragraph::before {
			content: "";
			position: absolute;
			left: 0;
			top: vw(10);
			width: vw(20);
			height: vw(10);
			background-image: url("../../images/blue-ellipse.png");
			background-size: contain;
			background-repeat: no-repeat;

			@include mobile {
        top: vmin(-20);
        left: 47%;
				width: vmin(20);
				height: vmin(10);
			}

			br {
				@include mobile {
					display: none;
				}
			}
		}

		.subp {
			display: flex;
			font-family: $g-p-bold;
			font-size: vw(13);
      line-height: vw(20);
      
      br {
        @include mobile {
          display: none;
        }
      }

			@include mobile {
				// flex-wrap: wrap;
				justify-content: center;
				font-size: vmin(13);
        line-height: vmin(20);
        padding-right: vmin(10);
			}

			img {
				margin-right: vw(10);

				@include mobile {
					margin-right: vmin(20);
					margin-bottom: vmin(20);
				}
			}
		}
	}

	.car-section_right {
		width: 32%;

		.car-taxi {
			width: vw(763);
			height: vw(354);
			position: absolute;
			right: vw(-50);
			top: vw(180);
			z-index: 1;

			@include mobile {
				width: vmin(763);
				height: vmin(354);
				right: vmin(380);
				top: vmin(120);
			}
		}
	}

	.tree {
		width: vw(452);
		height: vw(340);
		position: absolute;
		right: vw(60);
		top: 0;

		@include mobile {
			width: vmin(452);
			height: vmin(340);
			right: vmin(390);
			top: vmin(30);
		}
	}
}

.bottom {
	padding-top: vw(70);
	background-image: url('../../images/bg_img.png');

	.card-wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		.box {
			margin-right: vw(50);

			&:last-child {
				margin-right: 0;
			}
		}

		.card {
			display: flex;
			margin-bottom: vw(50);

			@include mobile {
				flex-wrap: wrap;
				justify-content: center;
        margin-bottom: vmin(50);
        text-align: center;
			}

			.img {
				margin-right: vw(20);

				@include mobile {
					width: 100%;
					text-align: center;
					margin-right: 0;
				}

				img {
					width: vw(60);
					height: vw(60);

					@include mobile {
						width: vmin(60);
						height: vmin(60);
					}
				}
			}

			.text {
				padding-top: vw(10);
				font-family: $g-p-light;
				font-size: vw(13);
				line-height: vw(20);

				@include mobile {
					// width: 100%;
					padding-top: vmin(10);
					font-size: vmin(14);
					line-height: vmin(20);
				}

				br {
					@include mobile {
						display: none;
					}
				}

				span {
					font-family: $g-p-bold;
					text-transform: uppercase;
					margin-bottom: vw(10);

					@include mobile {
						margin-bottom: vmin(10);
					}
				}
			}

		}

		.taxi-lights {
			img {
				width: vw(331);
				height: vw(167);

				@include mobile {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}