.modals {
	overflow: hidden;
	width: 0;
	height: 0;
}

.mfp-zoom-in {
	.mfp-with-anim {
		opacity: 0;
		transform: scale(0.8);
		transition: all 0.2s ease-in-out;
	}

	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-ready .mfp-with-anim {
		opacity: 1;
		transform: scale(1);
	}

	&.mfp-removing {
		.mfp-with-anim {
			opacity: 0;
			transform: scale(0.8);
		}

		&.mfp-bg {
			opacity: 0;
		}
	}
}

.modal {
	position: relative;
	margin: vw(10) auto;
	border-radius: vw(10);
	background-color: #fff;

	@include mobile {
		margin: vmin(10) auto;
		border-radius: vmin(10);
	}

	.wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		border: 1px solid rgba(22, 22, 22, 0.05);
		border-radius: vw(10);
		width: 98%;
		height: 98%;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
		transform: translate(-50%, -50%);
	}

	.mfp-close {
		display: none;
	}
}

.popup-close {
	position: absolute;
	right: vw(-80);
	top: 0;
	width: vw(40);
	height: vw(40);
	background-image: url("../../images/close-modal.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateX(-50%);
	cursor: pointer;

	@include mobile {
		background-image: url("../../images/close-grey.png");
		right: vmin(5);
		top: vmin(25);
		width: vmin(20);
		height: vmin(20);
		z-index: 6;
	}
}

.consult {
	width: vw(1050);
	height: vw(427);
	font-family: $g-p-light;

	@include mobile {
		width: 100%;
		height: vmin(827);
	}
	
	@media (max-width: 1024px) {
		height: vmin(780);
	}

	.wrapper {
		padding: vw(35) vw(20) vw(35) vw(35);

		@include mobile {
			padding: vmin(35) vmin(20) vmin(35) vmin(35);
		}
	}

	&__heading {
		font-size: vw(18);

		@include mobile {
			font-size: vmin(18);
		}

		h3 {
			margin-bottom: vw(15);

			@include mobile {
				margin-bottom: vmin(15);
			}
		}
	}

	&__main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: vw(80);
		padding-top: vw(30);
		padding-right: vw(90);

		@include mobile {
			flex-wrap: wrap;
			margin-bottom: vmin(30);
			padding-top: vmin(30);
			padding-right: 0;
		}

		.manager {
			display: flex;
			align-items: center;
			margin-right: vw(20);

			@include mobile {
				flex-wrap: wrap;
				margin-right: 0;
			}

			.img {
				display: flex;
				align-items: flex-end;
				justify-content: center;
				margin-right: vw(20);
				border-radius: 50%;
				width: vw(64);
				height: vw(64);
				text-align: center;
				background-color: #49b2f8;

				@include mobile {
					margin-right: vmin(10);
					margin-bottom: vmin(20);
					width: vmin(64);
					height: vmin(64);
				}

				img {
					width: vw(55);
					height: vw(70);

					@include mobile {
						width: vmin(55);
						height: vmin(70);
					}
				}
			}

			.name {
				font-size: vw(12);

				@include mobile {
					font-size: vmin(12);
				}

				span {
					font-family: $g-p-medium;
					font-size: vw(13);
					line-height: vw(22);
					text-transform: uppercase;

					@include mobile {
						font-size: vmin(13);
						line-height: vmin(22);
					}
				}
			}
		}

		.middle {
			display: flex;
			align-items: center;
			border: 1px solid #f2f2f2;
			border-radius: vw(10);
			padding: vw(12);

			@include mobile {
				border-radius: vmin(10);
				padding: vmin(12);
			}

			img {
				margin-right: vw(20);
				width: vw(35);
				height: vw(35);

				@include mobile {
					margin: 0 auto vmin(10);
					width: vmin(35);
					height: vmin(35);
				}
			}

			.text {
				font-family: $g-p-light;
				font-size: vw(14);
				line-height: vw(20);

				@include mobile {
					font-size: vmin(14);
					line-height: vmin(20);
				}

				span {
					font-family: $g-p-medium;

					// br {
					// 	@include mobile {
					// 		display: none;
					// 	}
					// }
				}
			}
		}

		.what-else {
			display: flex;
			align-items: center;
			cursor: pointer;

			@include mobile {
				flex-wrap: wrap;
				justify-content: center;
			}

			.circle {
				display: flex;
				justify-content: space-between;
				margin-right: vw(18);
				border-radius: 50%;
				padding: vw(16) vw(18) vw(15) vw(17);
				width: vw(61);
				height: vw(61);
				box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);

				@include mobile {
					padding: vmin(16) vmin(18) vmin(15) vmin(17);
					width: vmin(61);
					height: vmin(61);
				}

				img {
					width: vw(26);
					height: vw(30);

					@include mobile {
						width: vmin(26);
						height: vmin(30);
					}
				}
			}

			span {
				border-bottom: 1px solid transparent;
				font-size: vw(13);
				line-height: vw(18);
				text-transform: uppercase;

				@include mobile {
					font-size: vmin(13);
					line-height: vmin(18);
				}
			}

			&:hover span {
				border-bottom: 1px solid #e6e9eb;
			}

			&:hover .circle {
				box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
			}
		}
	}

	&__form {
		display: flex;
		justify-content: space-between;
		padding-right: vw(20);

		@include mobile {
			flex-wrap: wrap;
		}

		.main-input {
			@include mobile {
				width: vmin(300);
				margin-bottom: vmin(20);
			}
		}

		.main-button {
			width: vw(550);

			@include mobile {
				width: vmin(300);
			}
		}
	}
}


.taxi-consult {
  width: vw(1050);
  height: vw(505);

  @include mobile {
    width: 100%;
    height: vmin(1070);
  }

  .wrapper {
    padding: vw(40);

    @include mobile {
      padding: vmin(40);
    }
  }
  
  &__heading {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: vw(40);

    @include mobile {
      margin-bottom: vmin(40);
      flex-wrap: wrap;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: vw(40);
    padding-top: vw(30);
    padding-bottom: vw(30);
    box-shadow: 0px 5px 12px 0 rgba(50, 50, 50, 0.1);

    @include mobile {
      flex-wrap: wrap;
      margin: 0 auto;
      padding-left: vmin(40);
      margin-bottom: vmin(40);
    }
  }
  .h-h {
    width: 70%;

    @include mobile {
      width: 100%;
    }
  }

  h3 {
    // width: 70%;
  }

  .manager {
    display: flex;
    align-items: center;
    margin-right: vw(20);
    width: 25%;

    @include mobile {
      margin-top: vmin(40);
      margin-right: 0;
      width: 100%;
      justify-content: center;
    }

    .img {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-right: vw(20);
      border-radius: 50%;
      width: vw(64);
      height: vw(64);
      text-align: center;
      background-color: #49b2f8;

      @include mobile {
        margin-right: vmin(10);
        margin-bottom: vmin(20);
        width: vmin(64);
        height: vmin(64);
      }

      img {
        width: vw(55);
        height: vw(70);

        @include mobile {
          width: vmin(55);
          height: vmin(70);
        }
      }
    }

    .name {
      font-size: vw(12);

      @include mobile {
        font-size: vmin(12);
      }

      span {
        font-family: $g-p-medium;
        font-size: vw(13);
        line-height: vw(22);
        text-transform: uppercase;

        @include mobile {
          font-size: vmin(13);
          line-height: vmin(22);
        }
      }
    }
  }

  .t-c-card {
    display: flex;
    padding-left: vw(10);

    @include mobile {
      padding: vmin(20) 0;
    }

    &__img {
      margin-right: vw(18);

      @include mobile {
        margin-right: vmin(18);
      }
    }

    &__text {
      font-size: vw(14);
      line-height: vw(20);

      @include mobile {
        font-size: vmin(14);
        line-height: vmin(20);
      }

      span {
        font-family: $g-p-bold;
      }
    }
  }

  .consult__form {
    @include mobile {
      display: flex;
      justify-content: center;
    }
  }
}