footer.footer
	.container
		.left
			.logo
				img(src="images/logo.png")
			a.button_taxi(href="#")
				img(src="../../images/squares.png", alt="")
				| Для водителей такси
		.copy
			a.lead-me(href="http://leadme.agency/" target="_blank")
				.lead-me__text
					| Разработка#[br]
					| сайта
				img(src="../../images/lead_me.png", alt="").lead-me__logo