header.header
	.container
		.part-wrapper
			a.burger
				img(src="../images/burger.png", alt="")
			.logo
				img(src="images/logo-main.svg")
			a.button_taxi(href="#")
				img(src="../../images/squares.png", alt="")
				| Для водителей такси
			address.header-address
				img(src="../../images/mini-map.png", alt="")
				.header-address__texts
					.c-h
						| Головной офис
					.c-text
						| Минск, пр-т Дзержинского, д. 22
					.c-sub
						img(src="../../images/dot.png", alt="")
						span.txt
							| до закрытия 
						span#closing-hour
							| 3 
						span#closing-text
							| часа
		.part-wrapper
			.telephone
				| +375 29 5-666-222#[br]
				a.blue-link.open-popup(href="#consult-4")
					span.blue-link-span
						| Бесплатная косультация
			a.open-popup.no-border-button(href="#consult-5")
				| Оставить заявку