section.main-section
	.container
		.main-section_content
			h1
				span
					| Зарабатывайте #[br]
					| до&nbsp3000&nbspbyn&nbsp 
				| в&nbspмесяц,&nbsp#[br]
				| работая в такси #[br]
				| без личного авто
			p.paragraph
				| Бесплатно поможем вам устроиться водителем  #[br]
				| такси за 2 дня и обеспечим новым автомобилем  #[br]
				| в аренду с правом выкупа

			a.main-button.open-popup(href="#taxi-consult")
				span
					| Узнать обо всех условиях
			.subp
				img(src="../images/car-key.png", alt="")
				p
					| Работаем без комиссий и других платежей, #[br]
					|	наш интерес заключается только в аренде авто
		.car-section_right
			img(src="../images/car-taxi.png", alt="").car-taxi
			img(src="../images/tree.png", alt="").tree
.section.bottom
	.container
		.card-wrapper
			.box
				.card
					.img
						img(src="../images/card-1.png", alt="")
					.text
						span
							| Подключим ко всем агрегатором #[br]
							| такси с высоким % выплат
						p
							| Вы будете зарабатывать больше, #[br]
							| чем подключаясь самостоятельно 
				.card
					.img
						img(src="../images/card-4.png", alt="")
					.text
						span
							| Для работы не требуется #[br]
							| регистрировать ИП
						p
							| Вам не придется сидеть #[br]
							| в очередях и оформлять ИП
			.box
				.card
					.img
						img(src="../images/card-2.png", alt="")
					.text
						span
							| Поможем с поиском первых #[br]
							| заказов
						p
							| Расскажем все о работе в такси и дадим #[br]
							| советы как лучше начать работать 
				.card
					.img
						img(src="../images/card-5.png", alt="")
					.text
						span
							| Дадим контакты действующих #[br]
							| таксистов
						p
							| Которые вам все честно расскажут #[br]
							| о работе в такси
			.box
				.card
					.img
						img(src="../images/card-3.png", alt="")
					.text
						span
							| Предоставим новый автомобиль #[br]
							| в аренду с правом выкупа
						p
							| Без залога и первого платежа, можете #[br]
							| приступить к работе сразу
				.taxi-lights
					img(src="../images/taxi-lights.png", alt="")