.modals
	.modal.mfp-with-anim.consult#consult-4
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от менеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию

					
	.modal.mfp-with-anim.consult#consult-5
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от менеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию