.modals
	.modal.mfp-with-anim.consult#consult-4
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от менеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию

					
	.modal.mfp-with-anim.consult#consult-5
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от менеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию

	.modal.mfp-with-anim.taxi-consult#taxi-consult
		a.popup-close
		.wrapper
			.taxi-consult__heading
				.h-h
					h3
						| Оставьте заявку на 
						span
							| бесплатную консультацию 
						| от менеджера
					|Консультация менеджера займет не более 10 минут
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
			.taxi-consult__main
				.t-c-card
					.t-c-card__img
						img(src="../images/chat.png", alt="")
					.t-c-card__text
						| Расскажет обо всех 
						span
							| условиях #[br]
							| работы в такси и аренды #[br]
							| авто, 
						|вы будете знать обо #[br]
						| всем перед заключением #[br]
						| договора
				.t-c-card
					.t-c-card__img
						img(src="../images/search.png", alt="")
					.t-c-card__text
						| Совершит 
						span
							| онлайн #[br]
							| проверку 
						| для одобрения #[br]
						| аренды авто и работы #[br]
						| в такси
				.t-c-card
					.t-c-card__img
						img(src="../images/search.png", alt="")
					.t-c-card__text
						span
							| Ответит 
						| на все  #[br]
						| ваши вопросы
				.t-c-card
					.t-c-card__img
						img(src="../images/search.png", alt="")
					.t-c-card__text
						| Поможет 
						span
							| с выбором авто

			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию