extends pug/base

append vars
	//- ...

block content
	main.site-container
		include pug/components/header
		include pug/components/main-section
		include pug/components/footer
		include pug/components/modals