// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$sky-blue: #49b2f8;
$sky-blue-hover: #25c3f7;
$gold: #ffcb4d;
$main-font-color: #09263a;

// FONTS
$g-p-medium: "GothamPro-Medium";
$g-p-light: "GothamPro-Light";
$g-p-bold: "GothamPro-Bold";